.portfolio {
  #headerwrap {
    background: url(../img/work.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    background-size: 100%;
    background-size: cover;
    h1 {
      color: $white;
      padding-top: 10px;
      padding-bottom: 20px;
      letter-spacing: 4px;
      font-size: 88px;
      font-weight: bold;
    }
    h4 {
      font-weight: 400;
      color:  $white;
      font-size: 24px;
    }
    .container {
      margin-top: -80px;
    }
  }

  #workwrap {
    background: url(../img/work.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    background-size: 100%;
    background-size: cover;
    h1 {
      color: $white;
      padding-top: 10px;
      padding-bottom: 20px;
      letter-spacing: 4px;
      font-size: 80px;
      font-weight: bold;
    }
    h4 {
      font-weight: 400;
      color: $white;
    }
  }

  #aboutwrap {
    background: url(../img/about.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 550px;
    width: 100%;
    background-size: 100%;
    background-size: cover;
  }
  .port-title {
    font-family: $serif;
    font-size: 28px;
    color: $light-blue;
  }
  .port-heading {
    font-size: 56px;
    font-weight: 300;
  }
  .port-desc {
    min-height: 140px;
  }
  /* GALLERY */
  .gallery {
    margin-top: 30px;
    img:hover {
      opacity: 0.4;
    }
  }
  
}
