/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
/* ==========================================================================
   General styles
   ========================================================================== */
body {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  /* LINKS */
  /*PORTFOLIO*/
  /* GALLERY */
  /*BLOG*/
  /*FOOTER*/ }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #4a4a4a; }
  body ::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none; }
  body ::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none; }
  body hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; }
  body .centered {
    text-align: center; }
  body .mt {
    margin-top: 80px; }
  body .mb {
    margin-bottom: 80px; }
  body .bold {
    font-weight: bolder;
    color: #4a4a4a; }
  body a {
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
            transition: color 0.1s ease-in, background 0.1s ease-in; }
    body a:before, body a:after {
      -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
              transition: color 0.1s ease-in, background 0.1s ease-in; }
  body #navbar_top {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px; }
  body #headerwrap {
    background: url(../img/work.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    background-size: 100%;
    background-size: cover; }
    body #headerwrap h1 {
      color: #ffffff;
      padding-top: 10px;
      padding-bottom: 20px;
      letter-spacing: 4px;
      font-size: 88px;
      font-weight: bold; }
    body #headerwrap h4 {
      font-weight: 400;
      color: #ffffff;
      font-size: 24px; }
    body #headerwrap .container {
      margin-top: -80px; }
  body #social {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f2f2f2; }
    body #social i {
      font-size: 40px;
      color: #4a4a4a; }
      body #social i:hover {
        color: #1abc9c; }
  body #footerwrap {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #2f2f2f; }
    body #footerwrap p {
      color: #f2f2f2;
      margin-left: 10px; }
    body #footerwrap a {
      color: #f2f2f2; }
      body #footerwrap a:hover {
        color: #1abc9c; }
  body #workwrap {
    background: url(../img/work.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    background-size: 100%;
    background-size: cover; }
    body #workwrap h1 {
      color: #ffffff;
      padding-top: 10px;
      padding-bottom: 20px;
      letter-spacing: 4px;
      font-size: 80px;
      font-weight: bold; }
    body #workwrap h4 {
      font-weight: 400;
      color: #ffffff; }
  body #aboutwrap {
    background: url(../img/about.jpg) no-repeat center top;
    margin-top: -70px;
    padding-top: 250px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 550px;
    width: 100%;
    background-size: 100%;
    background-size: cover; }
  body .port-title {
    font-family: Bree Serif;
    font-size: 33px;
    color: #1abc9c; }
  body .port-heading {
    font-size: 56px;
    font-weight: 300; }
  body .port-desc {
    min-height: 140px; }
  body .gallery {
    margin-top: 30px; }
    body .gallery img:hover {
      opacity: 0.4; }
  body .blog-title, body .post-title {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 78px;
    color: #1abc9c; }
  body .blog-title {
    text-align: center; }
  body .blog-subtitle {
    text-align: center;
    color: #1abc9c; }
  body .post-content p {
    line-height: 26px;
    letter-spacing: 0.5px;
    padding: 3px 10px; }
  body .post-content h1 {
    padding-left: 8px; }
  body .post-content .list-title a {
    color: black; }
    body .post-content .list-title a:hover {
      color: #1abc9c; }
  body .post-content .btn__save-post {
    margin-top: 10px;
    margin-bottom: 160px; }
  body .social__blog {
    margin-top: 60px; }


